body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    text-align: left;
    width: 100%;
}

/* input[type="text"], input[type="password"] {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */
input[type="button"],
button {
    padding: 10px 20px;
    border: none;
    background-color: #000 !important;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    margin: 5px 0;
}

input[type="button"]:hover,
button:hover {
    background-color: #555;
}

button {
    background-color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

.inputWithIcon input[type="text"],
input[type="password"] {
    padding-left: 50px;
}

.inputWithIcon {
    position: relative;
    width: 100%;
}

.inputWithIcon i {
    position: absolute;
    top: 9px;
    padding: 9px 8px;
    color: #000;
    transition: 0.3s;
    border-right: inset;
}

.inputWithIcon i.fa-lock, .fa-user {
    left: 0;
}

.inputWithIcon .toggle-password {
    right: 0;
    cursor: pointer;
}

.heading {
    color: #e12832;
}

.forgot-pass {
    text-align: end;
    width: 100%;
    color: cornflowerblue;
    margin-bottom: 20px;
}

.field-icon {
float: right;
margin-left: -25px;
margin-top: -25px;
position: relative;
z-index: 2;
}